body{
    background-color: rgb(12, 14, 14);
    background-size: 100%,
}

.cambridge{
    color: rgb(237, 173, 190);
    font-family: 'Lobster', cursive;
    font-size: 40px;
    text-shadow: 0px 3px 2px  rgb(200, 221, 221);

}

p{
    color: beige;
    font-size: 40px;
    text-decoration: none;
}




.about{
     color: chartreuse;
     text-shadow: 0px 5px 2px rgb(4, 5, 5);
    


}


.best {
    /* best */

    padding-top: 0%;
    padding-left: 32%;
    font-size: 30px;
    color:rgb(250, 235, 28) ;
    text-shadow: 0px 7px 3px rgb(4, 5, 5);


}





.practice {
    /* practice */
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 2%;
    margin-top: 3%;
    font-size: 20px;
    color:rgb(224, 89, 170);


}
    

.sub {
    /* subject */
    color: rgb(255, 211, 80);
    margin-left: 19%;
    font-size: 30px;
    text-shadow: 0px 5px 2px rgb(35, 36, 36);
 }



.list {
    color: rgb(255, 115, 0);
    font-size: 25px;
    padding-left: 40%;
}



.subject{
    
   color: rgb(45, 226, 178);
    text-decoration: none;
    font-size: 30px;
}

.subject.hover{
    color:rgb(221, 254, 9);
}


.bg-light {
    --bs-bg-opacity: 0 !important;
    background-color: none !important;

}



.home{
    color: rgb(169, 212, 27);
    font-family: 'Lobster', cursive;
    font-size: 40px;
    margin-bottom: 0.5%;
    margin-left: 5%;
    text-shadow: 0px 3px 2px  rgb(101, 242, 242);
}




.link:hover {
    opacity: 0.9;
    color: rgb(177, 18, 226);
    transform: scale(1.3);
    transition: transform.2s;
}



.ch1,.ch2,.ch3,.ch4{

color: rgb(191, 13, 149);
}


.Biology,.Chemistry,.Biology,.Footprint,.Firstflight,.History,.Geography,.Economics,.Politicalscience,.Physics {
    padding-left: 20%;
    padding-top: 0.5%;
    margin-top: 0.1%;
    padding-top: 8%;
    font-size: 25px;
    color:rgb(220, 131, 30) ;
}



.ch1 ,.ch2 ,.ch3, .ch4{
    font-size: 0%;
    padding-left: 10%;
}
    

P{

    color: rgb(237, 173, 190);
    font-family: 'Lobster', cursive;
    font-size: 40px;
    text-shadow: 0px 3px 2px  rgb(214, 53, 53);
}




.link{
    color: rgb(2, 2, 2);
    text-decoration: none;

}


.set{
    padding: 1%;
    font-size: 30px;
    
}
@media screen and (max-width:2340px){

body{
background:rgb(26, 224, 181) !important;
background-size: 100%,100% ;
}
.list1{
    float: left;
    color: coral;
    margin-left: 30%;
    font-size: 20px;
    text-decoration: none;
    text-shadow: 0px 4px 3px rgb(25, 26, 26);

}

.subject{
    
    color: rgb(235, 159, 89);
     text-decoration: none;
     font-size: 30px;
    }

}


@media screen and (max-width:700px) {
    body{
        background:  rgb(90, 206, 167)!important;
        background-size: 100%,100%;
        background-repeat: no-repeat;
         
    }
.subject{
    
    color: rgb(235, 159, 89);
     text-decoration: none;
     font-size: 30px;
    }
   

    .subject{
    
        color: rgb(235, 159, 89);
         text-decoration: none;
         font-size: 30px;
        }
}


 @media   screen and (max-width:400px) {
     body{
      background: rgb(123, 209, 224)!important;
      background-size: 100%,100%;
      background-repeat: no-repeat;
     }

     .best{
         padding-left: 9%;

     }
   .ch1,.ch2,.ch3,.ch4{
       padding-left: 0%;
       font-size :1px;
   }

   .subject{
    
    color: rgb(235, 159, 89);
     text-decoration: none;
     font-size: 30px;
    }
 }





